*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading{
    font-size: 3rem;
    text-align: center;
}
.card{
    max-width: 35rem;
    border:2px solid white;
    box-shadow: 0 2px 5px 2px rgba(0,0,0,0.2);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.card__img{
    height: 15rem;
    width: 100%;
}
.card__title{
    font-size: 1.8rem;
    font-weight: 600;
}
.card__desc{
  font-size: 1.4rem;
}
.card__desc::first-letter{
  font-size: 2rem;
  color:crimson;
  font-weight: 700;
}