/* Basic colors */
$clr-primary:#4d148c;
$clr-secondary:#f96703;
$clr-black:#000000;
$clr-white:#ffffff;
$clr-lightWhite:#EEF1F6;
$clr-bgGray:#eee8f5;

$clr-gray:#4d4d4d;
$clr-darkGray:#1e1e1e;
$clr-lightGray:#464646;

/* Border colors */
$clr-border:#d8d8d8;

/* Box-Shadows */
$clr-boxShadow:rgba(0,0,0,0.16 );
$clr-lighterBoxShadow:rgba(0,0,0,0.1);


//   --bs-gray: #6c757d;
//   --bs-gray-dark: #343a40;
//   --bs-gray-100: #f8f9fa;
//   --bs-gray-200: #e9ecef;
//   --bs-gray-300: #dee2e6;
//   --bs-gray-400: #ced4da;
//   --bs-gray-500: #adb5bd;
//   --bs-gray-600: #6c757d;
//   --bs-gray-700: #495057;
//   --bs-gray-800: #343a40;
//   --bs-gray-900: #212529;

