/* Basic colors */
$clr-primary:#4d148c;
$clr-secondary:#f96703;
$clr-black:#000000;
$clr-white:#ffffff;
$clr-lightWhite:#EEF1F6;
$clr-bgGray:#eee8f5;

$clr-gray:#4d4d4d;
$clr-darkGray:#1e1e1e;
$clr-lightGray:#464646;

/* Border colors */
$clr-border:#d8d8d8;

/* Box-Shadows */
$clr-boxShadow:rgba(0,0,0,0.16 );
$clr-lighterBoxShadow:rgba(0,0,0,0.1);

